
.notes-taking_image{
  width: 300px;
}
.bg{
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input{
  width: 70%;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media only screen and (max-width: 650px) {
  .input{
    width: 60%;
  }
}
.button{
  background-color: transparent;
  border: none;
  color: #0000FF;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.e-message{
  background-color: rgba(247, 243, 243, 0.444);
  color: rgb(29, 30, 30);
  border-radius: 5px;
  border: 0 2px 0 0 solid white;
 padding: 10px;
 text-align: end;
}