.card{
    width: 18rem;
    padding: 10px;
    margin: 10px;
    background-color: #d4d0d0;
    border: none;
  
}
.card-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.remove-button, .delete-button{
    width: 100px;
}
.button-container{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}
.name{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 15px;
}

.date{
    text-align: end;
    font-size: 10px;
}
.title-heading{
    font-weight: bold;
}
.title-value{
    font-family: 'Courier New', Courier, monospace;
}
.brand{
    font-family: 'Kanit', sans-serif;
}



